[Unit]
Description=SSL Watcher hourly trigger

[Timer]
OnBootSec=2min
OnUnitActiveSec=1h
Persistent=true
Unit=ssl-watcher-check.service

[Install]
WantedBy=timers.target
